@charset "UTF-8";
body{
background: rgb(117,196,121);
background: radial-gradient(circle, rgba(117,196,121,1) 8%, rgba(92,137,142,1) 85%);
}

h1 {
  font-weight: bold;
  font-size: 100px;
}

.button {
	font-size: 30px;
}
table, thead{
	border: 1px solid;
	width: 100%
	
}

thead {
  background: black;
  color: white;
  position: sticky;
  top: 0;	
}

th, td{
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: teal;}

.navbar {
	background-color: black;
	color: white;
}

#hmenu {
	position: center;
}

#custom {
	background-color: charcoal;
	color: white;
}
